/*@font-face {
	font-family: nameHeader;
	src: url();
}*/

#header {
	clear:both;
	height:100px;
	width:100%;
	position:fixed;
	top:0;
	background:#346;
	color: #fff;
}

body {
	background:ddddff;
	font-family: 'Ubuntu';
	/*font-family: 'Helvetica';*/
	font-weight: lighter;
}

.socialLinks {
	height:40;
	/*background:white;*/
	border-radius:12px;
	margin:5px;
	padding:12px;
	float:right;
}

#facebook, #googlePlus, #twitter, #resumee, #linkedIn, #github {
	width:40px;
	height:40px;
	float:left;
	border-radius:25px;
	/*background:white;*/
	text-align:center;
	vertical-align:middle;
	margin:5px;
}

.wrapper{
	/* for making the footer stick to the bottom */
	min-height:100%;
	height: auto !important;
	/*height: 100%;*/
	margin-top:100px;
	margin: 0 auto -5em;
	/* general css starts here */

	width:1000px;
}

#main {
	float:left;
	width:100%;
	background:white;
	border-radius:12px;
	padding:0px 10px 10px 10px;
}
#menu {
	background:#ddf;
}
#menu ul{
	overflow-x:hidden;
	overflow-y:hidden;
	list-style-type: none;
}
#menu ul li{
	float:left;
	padding:5px;
	margin:0px 30px 0px 0px;
	color:#335;
	/*font-family: Raleway, Georgia, serif;*/
	font-size:18px;
	line-height:1.6;
}
#menu ul li:hover{
	background-color:#cce;
}

div.wrapper div#main div#content {
	float:left;
	margin:0px 0px 0px 12px;
	width:620px;
}

div.wrapper div#main div#content div div {
	border-radius:12px;
        margin-bottom:10px;
	background:#ddf;
	padding:5px 15px 15px 15px;
        width:100%;
}

div.wrapper div#main div#picture {
	float:left;
	border-radius:12px;
	background:#ddf;
	padding:15px;
	width:300px;
}

.footer, .push{
	clear:both;
	height: 5em;
}
#footer {
	background:#346;
	padding:5px;
}
